<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>
    <h3>My name is {{name}}</h3>
    <h3>{{ stuff }}</h3>
    <h3>{{ stuff|safe }}</h3>
    <h3>{{ stuff|striptags }}</h3>
    <p>{{fp}}</p>
    <ul>
        {% for row in fp%}
        <li>{{row}}</li>
        {% endfor %}
    </ul>
    <br/>
    {{ fp.0 }}
</body>

</html>